@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Noto+Serif|Passion+One|Vidaloka&display=swap');

$blue: red;
$home_font: 'Patua One', cursive;
$link_font: 'Noto Serif', serif;
$text_normal_font:'Libre Baskerville', serif;
$card_title_font:'Passion One', cursive;
$card_text_font: 'Vidaloka', serif;
$color_nav: bisque;





