@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Noto+Serif|Passion+One|Vidaloka&display=swap');

// Fonts
// $home_font: 'Patua One', cursive;
// $link_font: 'Noto Serif', serif;
// $text_normal_font:'Libre Baskerville', serif;
// $card_title_font:'Passion One', cursive;
// $card_text_font: 'Vidaloka', serif;
$all_font: 'Raleway', sans-serif;

// Colors
$graphite: #333;
$color_nav: bisque;
$font_nav: rgb(19, 18, 18);





