@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Passion+One&display=swap');

$blue: red;
$home_font: 'Patua One', cursive;
$link_font: 'Noto Serif', serif;
$card_title_font:'Passion One', cursive;;
$color_nav: bisque;





