.dash_card{
    //dash
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
    //text
    .normal_text{
        padding: 50px;  
        justify-content: center;
        text-align: center;
        max-width: 950px;
        margin: 0 auto;

        .title_normal{
            color: #555555;
            font-family: $all_font;
            font-size: 33px;
        }
        .text_normal{   
            font-family: $all_font;
            font-size: 15px;
        }
    }
    //cards
    .card{
        background-color: white;
        align-items: center;
        align-content: center;
        padding: 3rem;
        margin: 10px;
        max-width: 100%;   
        border-radius: 4px;
        box-shadow: 0 3px 12px -6px rgba(0, 0, 0, .3);
        text-align: center;
        .icon {
            font-size: 73px;
            color: #ce1b28;
            text-shadow: 0px 3px 5px #9e9797;
        }
        .title_card{
            font-size: 18px;
            font-family: $all_font;
            font-style: normal;
        }
        .text_card{
            font-size: 15px;
            color: $graphite;
            font-family: $all_font;
        }
    }   
}