.dash_card{
    //dash
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
    //text
    .normal_text{
        padding: 50px;  
        justify-content: center;
        text-align: center;
        .title_normal{
            font-family: $home_font;
            font-size: 35px;
        }
        .text_normal{   
            font-family: $text_normal_font;
            font-size: 18px;
            margin-left: 200px;
            margin-right: 200px;
        }
    }
    //cards
    .card{
        background-color: white;
        align-items: center;
        align-content: center;
        padding: 50px;
        margin: 10px;
        height: 400px;
        width: 300px;   
        border-radius:10px;
        box-shadow: 0px 1px 10px 1px #000;
        text-align: center;
        i{
            padding-left: 5px;
        }
        .title_card{
            font-family: $card_title_font;
        }
        .text_card{
            font-family: $card_text_font
        }
    }   
}