.foot{
    background: black;
    height: 45px;
    .text_footer{
        font-size: 0.8rem;
        display: flex;
        color: white;
        justify-content: center;
        .link_copy{
            color: white;
            text-decoration: none;
        }
    }
}