.foot{
    background: $font_nav;
    height: 400px;
    .text_footer{
        border-top: 1px  solid;
        font-size: 0.8rem;
        display: flex;
        color: white;
        justify-content: center;
        .link_copy{
            color: white;
            text-decoration: none;
        }
    }
}