.navbar{
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 40px;
    background: black;
}
.home{
    color: aliceblue;
    text-decoration: none;
    font-family: 'Patua One', cursive;
}
.btn{
    width: 60px;
    background: aqua;   
}