.navbar{
    width: 100%;
    height: 40px;
    display: flex;
    background: black;
    align-items: center;
}
.home{
    color: aliceblue;
    text-decoration: none;
}
.btn{
    background: aqua;   
}