.box_error{
    margin: 0px 70px 0px 70px; 
    width: 1280px;
    height: 520px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    .text_error{
        padding-top: 120px;
        align-content: center;
        .title_error{
            width: 560px;
            height: 112px;
            font-family: $error_font; 
            font-size: 96px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: var(--greyish-brown);
        }
        .des_error{
            width: 560px;
            height: 96px;
            font-family: $error_font;
            font-size: 32px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: var(--brownish-grey);
        }
        .credit_error{
            width: 195px;
            height: 28px;
            font-family: $error_font;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: var(--greyish-brown);
        }
    }
    .image{
        display: flex;
        align-items: center;
        align-content: center;
        width: 480px;
        height: 480px;
        .icon_error{
            background: #ffffff;
            width: 349.5px;
            height: 296.2px;
        }
    }
}